.digital-clock {
    background-color:  rgba(128, 128, 128, .5);
    border-radius: 15px;
    color: #fff;
    text-align: center;
    .location-name {
font-size: 15px;
    }
    .day-title {
        font-size: 25px;  
    }
    
    .digital-time {
        font-size: 30px;      
    }
}